<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} titulo {%endblock%} </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    
    <header>
        <nav class = "container-fluid">
            <div class = 'nav bg-dark text-white  fixed-top justify-content-center '>
                <img src="../static/img/images_logo_site.png" alt="imagem da logo do site" class="logo" >
                {% block nav %}
                
                {% endblock %}

            </div>
        </nav>
        <nav class="navbar bg-secondary mt-5 navbar-expand-lg">
            <ul class="navbar-nav d-grid nav-item  d-flex flex-row" >

                <li class="nav-item">
                    <button class="btn btn-secondary btn-block">
                        <a href="/home/" class="nav-link text-body">home</a>
                    </button>
                </li>

                <li class="nav-item">
                <button class="btn btn-secondary btn-block">
                    <a href="/servicos/" class="nav-link text-body">serviços</a>
                </button>
                </li>
                
                <li class="nav-item">
                    <button class="btn btn-secondary btn-block">
                        <a href="/contatos/" class="nav-link text-body">contatos</a>
                    </button>
                </li>

                <li class="nav-item">
                    <button class="btn btn-secondary btn-block">
                        <a href="/about/" class="nav-link text-body">about</a>
                    </button>
                </li>

            </ul>
        </nav>
    </header>


    <main>
        <div class="justify-content-center align-middle">
            {% block main %}
            {% endblock %}
        </div>
    </main>

    <footer class="navbar bg-secondary fixed-bottom justify-content-center" >
        <div>
            {% block content %}
                <p>todos os direitos reservados</p>
            {% endblock %}
        </div>
    </footer>

</body>
</html>