*reset{
    margin:0px;
    border:0px;
    padding:0px;
}

.pagina{
    background-color: #97c4ad;
}
/*configura a formatação do titulo*/
.titulolado{
    height: 10vh;
    text-align:center;
    background-color:#e6fcd9;
    border:solid;
}

/*posiciona o titulo lado a lado*/
.flextitle{
    display:flex;
}

/*configura a posiçao dos card do curso*/
.cards{
    position: relative;
    border:solid;
    width:30vw;
    height:30vh;
    margin:10px;
    background-color: #cdf2d6;
    /* background-image: url(imagens/cards2.jpeg); */
    font-size:18px;
    box-shadow:0 0 20 0 #97c4ad;
}

/*posiciona o botão no canto direito do card*/
.botao{
    position:relative;
    botton:;
    background-color: #8e978d;
}

.footpe{
    border:solid;
    height:10vh;
    width:100vw;
    background-color:#e6fcd9;
    position:fixed;
    bottom:0;
}
