
.pagina{
    background-image: url(imagens/backgrund.jfif);
}
/*configura a formatação do titulo*/
.titulolado{
    background-color: beige;
    border:solid;
}

/*posiciona o titulo lado a lado*/
.flextitle{
    display:flex;
}

/*configura a posiçao dos card do curso*/
.cards{
    position: relative;
    border:solid;
    width:300px;
    height:400px;
    margin:10px;
    background-color: antiquewhite;
    /* background-image: url(imagens/cards2.jpeg); */

}

/*posiciona o botão no canto direito do card*/
.botao{
    position:absolute;
    left: 212px;
    bottom: 0px;
    color:blue;
}

.footpe{
    border:solid;
    height:150px;
    background-color: antiquewhite;
}
