/*
h1{
    color: darkblue;
    font-size: 12px;
}
*/

.titulo_um{
    color: blue;
}

.titulo_dois{
    color: brown;
}

.box{
    background-color: brown;
    width: 10vw; /*largura(px,%,vw)*/
    height:10vw; /*altura(px,%,vw)*/
    border: 2px solid;
    margin: 10px;/*margin é o espaço fora da borda*/
    padding: 100px;
    
}
