{% extends "base.html" %}

{% block title %} tela inicial {% endblock %}

{% block nav %}
    <h1>pagina inicial do meu site</h1>
{% endblock %}

{% block main %}
    <p>Lorem ipsum dolor sit amet. Eum veniam recusandae quo veritatis molestias qui placeat praesentium hic magni quod et nihil totam est omnis eaque. 33 tempora galisum eum voluptatem quas id minus dolores At internos Quis. 33 quos iure et exercitationem quos sit voluptas facere. Et omnis perferendis est deleniti quam qui omnis laudantium.

    Ut ipsam molestiae rem saepe galisum aut tenetur dolores eum consectetur commodi. Ea rerum possimus sit galisum sequi eum error eligendi.</p>
{%endblock%}

{% block content %}
    <p>todos os direitos reservados</p>
{% endblock %}
