{% extends "base.html" %}

{% block title %} serviços {% endblock %}

{% block nav %}
    <h1>pagina sobre serviços</h1>
{% endblock %}

{% block main %}

    <nav class="navbar">
        <ul class="navbar-nav flex-row align-self-start  ">
            <li class="nav-item  px-2" >
                <div>
                    <img src="../static/img/exemplo_imagem.png" alt="imagem sobre serviço">
                    <p class="text-break">andiadidwdopamwdmwadmomwwndindioawndionwiandwandawdpnawpdowamdmawmdoawmdpawmdamwdpodmfbgEGEIOFWQMFADPod</p>
                </div>
            </li>
            <li class="nav-item px-2" >
                <div>
                    <img src="../static/img/exemplo_imagem.png" alt="imagem sobre serviço">
                    <p class="text-break">andiadidwdopamwdmwadmomwowndindioawndionwiandwandawdpnawpdowamdmawmdoawmdpawmdamwdpodmfbgEGEIOFWQMFADPd</p>
                </div>
            </li>
            <li class="nav-item px-2" >
                <div>
                    <img src="../static/img/exemplo_imagem.png" alt="imagem sobre serviço">
                    <p class="text-break">andiadidwdopamwdmwadmomwwndindioawndionwiandwandawdpnawpdowamdmawmdoawmdpawmdamwdpodmfbgEGEIOFWQMFADPod</p>
                </div>
            </li>
            <li class="nav-item  px-2" >
                <div>
                    <img src="../static/img/exemplo_imagem.png" alt="imagem sobre serviço">
                    <p class="text-break">andiadidwdopamwdmwadmomwwndindioawndionwiandwandawdpnawpdowamdmawmdoawmdpawmdamwdpodmfbgEGEIOFWQMFADPod</p>
                </div>
            </li>
            <li class="nav-item px-2" >
                <div>
                    <img src="../static/img/exemplo_imagem.png" alt="imagem sobre serviço">
                    <p class="text-break">andiadidwdopamwdmwadmomwowndindioawndionwiandwandawdpnawpdowamdmawmdoawmdpawmdamwdpodmfbgEGEIOFWQMFADPd</p>
                </div>
            </li>
        </ul>
    </nav>
{%endblock%}

{% block content %}
    <p>todos os direitos reservados</p>
{% endblock %}