{% extends 'base.html' %}


{% block title %} cadastros {% endblock %}

{% block cabecalho %}
<h1>lista de alunos</h1>
{% endblock %}

{% block main %}
<div style="margin-top: 30px;">

    <table class="table">
        <tr class="table-active">
            <th>nomes</th>
            <th>turma</th>
            <th>curso</th>
        </tr>
        
        {% for alunos in dado %}
        <tr class="">
            <td>{{ aluno.nome  }}</td>
            <td>{{ aluno.turma }}</td>
            <td>{{  aluno.curso  }}</td>
        </tr>
        {% endfor %}
        

    </table>

</div>
{% endblock %}
