{% extends "base.html" %}

{% block title %} cadastro {%endblock%}


{% block cabecalho %}
    <h1>cadastro</h1>

{%endblock%}


{% block main %}
    <div class="flex-column">
        <form action="" class="form-group row">

            <label for=""> nome </label>
            <input type="text">

            <label for=""> email</label>
            <input type="email">

            <label for="">menssagem</label>
            <textarea name="" id=""></textarea>

        </form>
        <button class="btn btn-primary mb-2" style="margin-top: 30px;"> submit </button>
    </div>
    
{%endblock%}
